<!DOCTYPE html>
<meta charset=utf-8>
<title>socialopoly</title>
<%= stylesheet_link_tag 'application' %>
<script src="/javascripts/application.js?1278171380" type="text/javascript"></script>
<body>
<div id='container'>
<%= yield %>
</div>
</body>